@media (max-width: $screen-sm-max) {
  .issuable-affix {
    margin-top: 20px;
  }
}

@media (max-width: $screen-md-max) {
  .issuable-affix {
    position: static;
  }
}

@media (min-width: $screen-md-max) {
  .issuable-affix {
    &.affix-top {
      position: static;
    }

    &.affix {
      position: fixed;
      top: 70px;
      margin-right: 35px;
    }
  }
}

.issuable-context-title {
  margin-bottom: 5px;

  .avatar {
    margin-left: 0;
  }

  label {
    color: $gl-gray;
    font-weight: normal;
    margin-right: 4px;
  }
}

.project-issuable-filter {
  .controls {
    float: right;
    margin-top: 7px;
  }

  .center-top-menu {
    text-align: left;
  }
}

.issuable-details {
  .page-title {
    margin-top: -$gl-padding;
    padding: 7px 0;
    margin-bottom: 0;
    color: #5c5d5e;
    font-size: 16px;
    line-height: 42px;

    .author {
      color: #5c5d5e;
    }

    .issue-id {
      color: #5c5d5e;
    }
  }

  .issue-title {
    margin: 0;
    font-size: 23px;
    color: #313236;
  }

  .description {
    margin-top: 6px;

    p:last-child {
      margin-bottom: 0;
    }
  }
}

.issuable-filter-count {
  span {
    display: block;
    margin-bottom: -16px;
    padding: 13px 0;
  }
}

.cross-project-reference {
  text-align: center;
  width: 100%;

  .slead {
    padding: 5px;
  }

  span, button {
    background-color: $background-color;
  }
}

.awards {
  @include clearfix;
  line-height: 34px;
  margin: 2px 0;

  .award {
    @include border-radius(5px);

    border: 1px solid;
    padding: 0px 10px;
    float: left;
    margin: 0 5px;
    border-color: $border-color;
    cursor: pointer;

    &.active {
      border-color: $border-gray-light;
      background-color: $gray-light;

      .counter {
        font-weight: bold;
      }
    }

    .icon {
      float: left;
      margin-right: 10px;
    }

    .counter {
      float: left;
    }
  }

  .awards-controls {
    margin-left: 10px;
    float: left;

    .add-award {
      font-size: 24px;
      color: $gl-gray;
      position: relative;
      top: 2px;

      &:hover,
      &:link {
        text-decoration: none;
      }
    }

    .awards-menu {
      padding: $gl-padding;
      min-width: 214px;

      > li {
        cursor: pointer;
        margin: 5px;
      }
    }
  }

  .awards-menu{
    li {
      float: left;
      margin: 3px;
    }
  }
}
